LatestFlow.json
[{"id":"1792c8e0.0e0b5f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ad88f1b5.6bca7","type":"debug","z":"1792c8e0.0e0b5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.beacons[0].beaconAddress","x":520,"y":60,"wires":[]},{"id":"e95bc06f.7dff08","type":"http in","z":"1792c8e0.0e0b5f","name":"beaconpost","url":"/beaconpost","method":"post","upload":false,"swaggerDoc":"","x":330,"y":240,"wires":[["ad88f1b5.6bca7","ae488de2.c4ce88","ac14dcd0.314678"]]},{"id":"ae488de2.c4ce88","type":"debug","z":"1792c8e0.0e0b5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":120,"wires":[]},{"id":"c96d4779.3cf508","type":"websocket out","z":"1792c8e0.0e0b5f","name":"","server":"c9cf6f2c.de12c8","client":"","x":640,"y":420,"wires":[]},{"id":"8eb4b2e7.663b2","type":"debug","z":"1792c8e0.0e0b5f","name":"Payld","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":600,"wires":[]},{"id":"7353221c.8e1e2c","type":"inject","z":"1792c8e0.0e0b5f","name":"Becon selector B2","topic":"","payload":"{\"type\":\"BEACON\",\"payld\":{\"id\":\"b2\",\"x\":\"50\",\"y\":\"150\"},\"message\":{\"stream\":\"CSE\",\"lab\":\"Atomata\",\"instructor\":\"SKD\",\"timings\":\"10am-1pm\",\"image\":\"B2\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["8eb4b2e7.663b2","c96d4779.3cf508"]]},{"id":"26d5eef.1ab6692","type":"inject","z":"1792c8e0.0e0b5f","name":"Becon selector B1","topic":"","payload":"{\"type\":\"BEACON\",\"payld\":{\"id\":\"b1\",\"x\":\"58\",\"y\":\"110\"},\"message\":{\"stream\":\"ECE\",\"lab\":\"digital\",\"instructor\":\"SK\",\"timings\":\"3pm-5pm\",\"image\":\"B1\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":500,"wires":[["8eb4b2e7.663b2","c96d4779.3cf508"]]},{"id":"517019f1.b4577","type":"switch","z":"1792c8e0.0e0b5f","name":"Beacon Identifier","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10.3.2","vt":"str"},{"t":"eq","v":"10.3.1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":340,"wires":[["ae488de2.c4ce88"],["ae488de2.c4ce88"]]},{"id":"32722c99.27f224","type":"inject","z":"1792c8e0.0e0b5f","name":"Becon selector B2","topic":"","payload":"{\"beacons\":[{\"beaconAddress\":\"10.3.1\",\"dbm\":-60},{\"beaconAddress\":\"10.3.2\",\"dbm\":-10}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":300,"wires":[["ac14dcd0.314678"]]},{"id":"ac14dcd0.314678","type":"function","z":"1792c8e0.0e0b5f","name":"Format Data","func":"\nvar i;\nvar dbm=0;\nvar data=0;\nfor (i = 0; i < msg.payload.beacons.length; i++) {\n  if((Math.abs(dbm)>Math.abs(msg.payload.beacons[i].dbm)) || (dbm===0))\n    {\n        dbm=msg.payload.beacons[i].dbm;\n        data=msg.payload.beacons[i].beaconAddress;\n    }\n}  \n    msg.payload=data;\n\n    return msg;\n\n","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["ae488de2.c4ce88","517019f1.b4577"]]},{"id":"93b55c0f.a74768","type":"function","z":"1792c8e0.0e0b5f","name":"Choose Data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":380,"wires":[[]]},{"id":"59203463.762d04","type":"sheet","z":"1792c8e0.0e0b5f","name":"","sheetName":"Sheet1","x":360,"y":780,"wires":[[]]},{"id":"fd4d5ee8.29871","type":"cloudant out","z":"1792c8e0.0e0b5f","name":"","cloudant":"","database":"nodered","service":"IndoorLocator-cloudantNoSQLDB","payonly":false,"operation":"insert","x":280,"y":160,"wires":[]},{"id":"9541b410.b88ac","type":"inject","z":"1792c8e0.0e0b5f","name":"Becon selector B2","topic":"","payload":"{\"type\":\"BEACON\",\"payld\":{\"id\":\"b2\",\"x\":\"50\",\"y\":\"150\"},\"message\":{\"stream\":\"CSE\",\"lab\":\"Atomata\",\"instructor\":\"SKD\",\"timings\":\"10am-1pm\",\"image\":\"B2\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":60,"wires":[["fd4d5ee8.29871"]]},{"id":"2b8dafb3.22279","type":"cloudant in","z":"1792c8e0.0e0b5f","name":"","cloudant":"","database":"nodered","service":"IndoorLocator-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":120,"y":300,"wires":[["7bbabe6e.dcb62"]]},{"id":"d8bef983.83cb18","type":"inject","z":"1792c8e0.0e0b5f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":180,"wires":[["2b8dafb3.22279"]]},{"id":"7bbabe6e.dcb62","type":"debug","z":"1792c8e0.0e0b5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":220,"y":220,"wires":[]},{"id":"c9cf6f2c.de12c8","type":"websocket-listener","z":"","path":"/ws/indoorLocator","wholemsg":"false"}]